<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDumQcKITqiKuIj9sNLIKnSsOEG_cQFges</string>
	<key>GCM_SENDER_ID</key>
	<string>895904656268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobify</string>
	<key>PROJECT_ID</key>
	<string>tech-week-4cecb</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-week-4cecb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895904656268:ios:4ceedaf2d898fb577c44a9</string>
</dict>
</plist>